@import '~mdb-ui-kit/css/mdb.min.css';

.details-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 450px;
    box-shadow: 10px 10px 30px rgb(150, 148, 148);
    width: 50%;
    height: 80%;
}

.inner-frame span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.inner-frame h3 {
    color:gray;
}