<div class="details-frame">
    <img [src]="pokemon.sprites['back_default']" />
    <img [src]="pokemon.sprites['front_default']" />
    <div class="inner-frame">
        <h3>Pokemon Name: {{pokemon.name}}</h3>
        <span>Pokemon ID:{{pokemon.id}}</span>
        <span>Pokemon Height: {{pokemon.height}}</span>
        <span>Pokemon Weigth: {{pokemon.weight}}</span>
        <span>Pokemon Order: {{pokemon.slot}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>
        <span>Pokemon Weigth: {{pokemon.weigth}}</span>     
    </div>
</div>