<div class="details-frame">
    <h3>Pokemon ID:{{pokemon.id}}</h3>
    <h3>Pokemon Name: {{pokemon.name}}</h3>
    <img [src]="pokemon.sprites['back_default']"/>
    <img [src]="pokemon.sprites['front_default']"/>
    <h3>Pokemon Height: {{pokemon.height}}</h3>
    <h3>Pokemon Weigth:{{pokemon.weight}}</h3>
    <h3>Pokemon Order:{{pokemon.slot}}</h3>
    <h3>Pokemon Weigth:{{pokemon.weigth}}</h3>
    <h3>Pokemon Weigth:{{pokemon.weigth}}</h3>
    <h3>Pokemon Weigth:{{pokemon.weigth}}</h3>
    <h3>Pokemon Weigth:{{pokemon.weigth}}</h3>
</div>