<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="d-flex input-group w-auto">
    <input type="text" formControlName="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        (change)="onSearch($event)" />
    <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
    </span>
</form>
<div class="container">
    <div *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="mini-details" *ngIf="selectedPokemon && !isLoading && !noDataFound">
        <div class="pokemon-name">
            <h1>{{selectedPokemon.name}}</h1>
        </div>
        <img [routerLink]="['pokemon',selectedPokemon.id]" [src]="selectedPokemon.sprites['back_default']" />
        <div class="icon" (click)="addToFav(selectedPokemon)">
            <img class="thumb-up" (click)="addToFav(selectedPokemon)" src="../../../assets/icons/thumb-up.png" />
        </div>
    </div>
    <div class="favErrMsg" *ngIf="favErrMsg != ''">
        {{favErrMsg}}
    </div>
    <div class="error" *ngIf="error">
        {{error}}
    </div>
    <div *ngIf="pokemons">
        <div *ngIf="noDataFound">
            No data found
        </div>
        <div *ngFor="let pokemon of pokemons">
            <strong class="pokemon-names" (click)="pokemonClick(pokemon)">{{pokemon.name}}</strong>
        </div>
    </div>
</div>